<div class="banner">
  <h1 class="text-center">Save any kind of movies</h1>
  <h2 class="text-center text-white">Classic</h2>
</div>


<div class="container">
  <div class="create-list text-right">
    <%= link_to "Create a movie list", new_list_path, class: 'btn btn-primary' %>
  </div>
  <h3 class="text-left">My Lists</h3>
      <div class="cards">
        <% @lists.each do |list| %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>)">
              <%= link_to list.name, list_path(list) %>
              <!--<%= link_to list_path(list) , method: :delete, data: { confirm: "Delete #{list.name}?" } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>-->
            </div>
        <% end %>
      </div>
</div>
